/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
    margin: 0;
    padding: 0;
}

body, .fondo {
    margin: 0px 0;
    text-align: justify;
    font-family:"Arial","Helvetica","Verdana","sans-serif";
    font-size: 0.9em;
    color: #000;
}

form {
}

form br {
}
/*
input, textarea {
padding: 5px;
font: bold 1em Georgia, "Times New Roman", Times, serif;
color: #333333;
background: #F9F3DF;
border-top: 1px solid #CB960F;
border-right: 1px solid #CCCC99;
border-bottom: 1px solid #CCCC99;
border-left: 1px solid #CB960F;
}
*/
h1, h2, h3 {
    padding: 10px !important;
    /*margin-bottom: 5px  !important;*/
    /*text-transform: uppercase;*/
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.4em !important;
}

h2 {
    font-size: 1.4em  !important;
}

h3 {
    font-size: 1em  !important;
}

div, table, p{
    /*font-size: 14px;*/
}
th{ text-align: center}


#cargando{
    width: 300px;
    position: absolute;
    top: 30%;
    left: 40%;
    background-color: #FFF;
    border: 5px solid #DFF1FF;
    font-size: 16px;
    font-weight:bold;
    display: none;
    z-index: 10000;
}

#cargando img{
    float: left;
    margin: 4px;
}
#cargando div.cont{
    padding: 4px;
}

input, select, textarea{
    background: #FFF;
}

/*
* Menu
*/
#menu{
    float: left;
    list-style:none;
    display: inline;
}
#menu li{ display: block; float:left;}
#menu li a{display:block; background-color:#1F1F1F; color:orange; padding: 5px;}

/*
#menu{
float: left;
width: 200px;
border: 1px solid #000;
}
#menu ul{
list-style: none;
padding: 2px;
}
*/

#encabezado{
    height: 75px;
    background-color: #1F1F1F;
    z-index:2;
}

#cont{
    padding: 10px;
    z-index:1;
}

/**
* LIstado de clases
*/
.fl{float: left !important;}
.fr{float: right !important;}
.left, .iz{text-align: left;}
.right, der{text-align: right;}
.center{text-align: center;}
.cont{padding-bottom: 50px;}

.error{border: 2px solid #FF0000;}

.input{
    padding: 4px;
    margin: 2px;
}

div.ui-datepicker, .ui-widget{
    font-size: 12px !important;
}
.grid, table{
    border-collapse: collapse;
}
.grid td, .grid th{
    padding: 2px 4px;
    margin: 0px;
    font-size: 1em;
    border:1px solid #666;
}

input.fecha{
    width: 100px;
}
input.dec{
    text-align: right;
    width: 100px;
}
.resizable{
    overflow: auto;
    padding: 4px;
}


.center{
    text-align: center;
}

.advertencia{
    font-weight: bold;
    background: #CF0F0F;
    padding: 4px 10px;
    color: #FFFF00;
}

.verde, .green{background: #008000;}
.red, .rojo{background: #CF0F0F;}
.c_verde, .c_green{color: #008000; }
.c_red, .c_rojo{color: #CF0F0F;}
.input{ padding: 4px;}
.grande{font-size: 1.6em !important;}
a img{ border:none;}
.bold{font-weight: bold}
.num{ text-align: right}

/**
* Flash
*/
#flash {
    padding: 0.5em;
    font-weight: bold;
}
#flash a.close{
    float: right;
}
.flash_notice, .notice {
    color: #6F0000;
    background: #FEFF9F;
    padding:6px;
    margin: 6px;
}

.flash_error, .flash_alert {
    background-color: #CF0F0F;
    color: #FFFF00;
}

/* Menu vertical */

.sf-menu, .sf-menu * {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:0;
}
.sf-menu {
    line-height:1;
}
.sf-menu ul {
    position:absolute;
    top:-999em;
    width:10em;
}
.sf-menu ul li {
    width:100%;
}
.sf-menu li:hover {
    visibility:inherit;
}
.sf-menu li {
    float:left;
    position:relative;
}
.sf-menu a {
    display:block;
    position:relative;
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
    left:0;
    top:2.5em;
    z-index:99;
}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
    top:-999em;
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
    left:10em;
    top:0;
}
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
    top:-999em;
}
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
    left:10em;
    top:0;
}
.sf-menu {
    float:left;
    margin-bottom:1em;
}
.sf-menu a {
    border-left:1px solid #FFFFFF;
    border-top:1px solid #CFDEFF;
    padding:0.75em 1em;
    text-decoration:none;
}
.sf-menu a, .sf-menu a:visited {
    color:#1133AA;
}
.sf-menu li {
    background:#BDD2FF none repeat scroll 0 0;
}
.sf-menu li li {
    background:#AABDE6 none repeat scroll 0 0;
}
.sf-menu li li li {
    background:#9AAEDB none repeat scroll 0 0;
}
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
    /* background:#CFDEFF none repeat scroll 0 0; */
    outline-color:-moz-use-text-color;
    outline-style:none;
}
.sf-menu a.sf-with-ul {
    min-width:1px;
    padding-right:2.25em;
}
.sf-sub-indicator {
    background:transparent url(/images/arrows-ffffff.png) no-repeat scroll -10px -100px;
    display:block;
    height:10px;
    overflow:hidden;
    position:absolute;
    right:0.75em;
    text-indent:-999em;
    top:1.05em;
    width:10px;
}
a > .sf-sub-indicator {
    background-position:0 -100px;
    top:0.8em;
}
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator, li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {
    background-position:-10px -100px;
}
.sf-menu ul .sf-sub-indicator {
    background-position:-10px 0;
}
.sf-menu ul a > .sf-sub-indicator {
    background-position:0 0;
}
.sf-menu ul a:focus > .sf-sub-indicator, .sf-menu ul a:hover > .sf-sub-indicator, .sf-menu ul a:active > .sf-sub-indicator, .sf-menu ul li:hover > a > .sf-sub-indicator, .sf-menu ul li.sfHover > a > .sf-sub-indicator {
    background-position:-10px 0;
}
.sf-shadow ul {
    -moz-border-radius-bottomleft:17px;
    -moz-border-radius-topright:17px;
    background:transparent url(/images/shadow.png) no-repeat scroll right bottom;
    padding:0 8px 9px 0;
}
.sf-shadow ul.sf-shadow-off {
    background:transparent none repeat scroll 0 0;
}
